.tab_frame {
	background-color: #F2F2F2;
	border-style: solid 1px;
	border-spacing: 10px;
	border-radius: 25px;
	align-self: center;
	margin: 0 auto;
	min-width: 600px;
	font-family: Verdana, sans-serif;
	font-size: 12px;
}

.tab_form {
	background-color: white;
	width: 100%;
}

.label {
	text-align: right;
	font-weight: bold;
}

input[required] {
	background-color: lightyellow;
}

.localpath {
	width: 85%;
}

.button {
	width: 100px;
}

.data_table {
	border-radius: .55rem;
	border-spacing: 10px;
	width: 100%;
	border-collapse: separate;
	font-family: sans-serif;
	font-size: 12px;
	color: #000000;
	border-left: #c3c3c3 1px solid;
	border-top: #c3c3c3 1px solid;
	border-right: #c3c3c3 1px solid;
	border-bottom: #c3c3c3 1px solid;
	border-collapse: separate;
}

.data_header {
	text-transform: capitalize;
	font-size: 12px;
	border-bottom: #c3c3c3 1px solid;
	cursor: pointer;
}

.data_row {
	border-bottom: #c3c3c3 0px solid;
}

.data_row:hover {
	background-color: lightyellow;
	cursor: pointer;
}

.req {
	color: red;
}

